body {
  background-color: plum;
  font-style: normal;
  font-family: monospace;
}

a {
  color: gold;
}

td,
th {
  border: 3px solid coral;
  background-color: beige;
  padding: 0.5rem;
  font-weight: bolder;
}
