body {
  background-color: plum;
  font-style: normal;
  font-family: monospace;
}

a {
  color: gold;
}

td,
th {
  border: 3px solid coral;
  background-color: beige;
  padding: 0.5rem;
  font-weight: bolder;
}

.pinkHili:hover {
  background-color: hotpink;
  color: crimson;
}
.greenSub {
  background-color: greenyellow;
  color: green;
}
form {
  display: flex;
  flex: auto;
  justify-content: center;
  width: 33%;
  margin: 1.5rem;
}
fieldset {
  display: flex;
  flex-direction: column;
}
